.footer{
    background-color: #230444;
    height: 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
    
  }
  .footer a{
      color: aliceblue;
  }