<!DOCTYPE html>
<html>
<head>
  <title>Secure E Voting</title>
  <title>Voting</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  
  <div class="container" style="text-align:center; margin-top:50px;">
    
  </div>
  <div  class="container h-50" style="margin-top:auto; margin-top: 28vh; text-align: center;">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a3/IIT_Kanpur_Logo.svg/1200px-IIT_Kanpur_Logo.svg.png" height="100" widht="100" >
    <h1 style="text-align: center; padding-top:20px;">Wheels of Zeus</h1>

  <form action="/runPythonScript" method="POST" >
  <div class="form-group col-8 offset-2 " align="center" >
    <!-- <label for="exampleInputEmail1" style="float:left;">Enter Your Unique Id to proceed to Voting Page --></label> -->
  
    <!-- <label for="exampleInputEmail1" style="float:left; color: red;">Already Voted </label> -->
      
    <!-- <input  class="form-control" id="uid" name="uid" aria-describedby="emailHelp" placeholder="Enter your Unique Id"> -->
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your UiD with anyone else.</small> -->
  </div>
 
  <button type="submit" class="btn btn-primary  col-2 " style="margin-bottom: 20px;">Submit</button><br>

  <!-- <a href="/addVoter" class="btn btn-success  col-2">Register New Voter</a> -->

</div>

</form>
</body>
</html>